{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags%}
<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VSTech Academy login page">
    <meta name="author" content="Jeff Odhiambo">
    <meta name="keywords" content="VSTech, Academy, Login, SignIn">
    <title>VSTech Academy - Login</title>

    {% include 'partials/css.html' %}

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    {% get_providers as socialaccount_providers %}
                                        {% if socialaccount_providers %}
                                            <p>{% blocktrans with site.name as site_name %}Please sign in with one
                                            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                                            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                                            <div class="socialaccount_ballot">
                                                <ul class="socialaccount_providers list-unstyled">
                                                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                                </ul>
                                            </div>
                                            {% include "socialaccount/snippets/login_extra.html" %}

                                        {% else %}
                                            <p>{% blocktrans %}If you have not created an account yet, then please
                                            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                                        {% endif %}
                                    <hr>
                                    <form class="user login" action="{% url 'account_login' %}" method="POST">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}
                                        
                                        <input type="submit" class="btn btn-primary btn-user btn-block"  value="{% trans 'Login' %}"/>
                                        
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{ signup_url }}">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


{% include 'partials/js.html' %}

</body>

</html>