{% load i18n %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VSTech Academy, Registration form">
    <meta name="author" content="Jeff Odhiambo">
    <meta name="keywords" content="VSTech Academy, Register, Sign In">
    {% include 'partials/css.html' %}
    <title>VSTech Academy - Register</title>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                            </div>
                            <form class="user signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                {{ form | crispy }}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button type="submit" class="btn btn-user btn-block btn-primary">{% trans "Sign Up" %} &raquo;</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{{ login_url }}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    {% include 'partials/js.html' %}
</body>

</html>



